/**
 * News list
 */
#news {

}
#news .news-fleft {
    float:left;
}
#news .news-fright {
    float:right;
}
#news a.news-more {
    display:block;
    float:right;
    margin-bottom:10px;
    padding:3px 10px;
    background:rgba(160,160,160,.1);
    border-radius:5px;
    text-decoration:none;
}
#news a.news-more:hover {
    background:rgba(200,200,200,.1);
}
#news #news-list{
    overflow:hidden;
}
#news .news-item{
    overflow:hidden;
}
#news .news-item h2{

}
#news .news-item .news-content{
    
}
#news .news-item .news-status{
    clear:both;
    background:rgba(160,160,160,.1);
    padding:3px 5px;
    margin:10px 0 17px 0;
    font-size:11px;
    border-radius:3px;
    overflow:hidden;
    line-height:16px;
}
/**
 * Paginator
 */
#news #news-paginator {
    font-size:16px;
    margin-top:20px;
}
#news #news-paginator strong {
    font-weight: 700;
}
#news #news-paginator a {
    text-decoration:underline;
}
#news #news-paginator a:hover{
    text-decoration:underline;
}
#news #news-paginator #news-page{
    margin-top:3px;
    overflow:hidden;
}
#news #news-paginator #news-page span{
    display:block;
    float:left;
    margin-right:5px;
}
#news #news-paginator #news-page a{
    display:block;
    float:left;
    margin-right:2px;
    border-radius:3px;
    padding:3px 5px;
}
#news #news-paginator #news-page a:hover{
    background:rgba(100,100,100,.1);
}
#news #news-paginator #news-page a.current{
    text-decoration:none;
    background:rgba(150,150,150,.2);
}